{% extends 'base.html' %}

{% block title %}Login – Voting System{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h3 class="mb-3">Login</h3>
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary w-100">{{ form.submit.label.text }}</button>
    </form>
  </div>
</div>
{% endblock %}
