<!DOCTYPE html>
<html>
<head>
    <title>匿名投票</title>
</head>
<body>
    <h1>{{ title }}</h1>
    {% if votes_left > 0 %}
        <p>你还可以投 {{ votes_left }} 票</p>
        <form action="/vote" method="post">
            {% for option in options %}
                <input type="radio" name="option" value="{{ option }}" required> {{ option }}<br>
            {% endfor %}
            <br>
            <button type="submit">提交投票</button>
        </form>
    {% else %}
        <p>你已经投完所有票数，感谢参与！</p>
    {% endif %}
</body>
</html>
